@page
@model Bookstore.Pages.IndexModel
@{
}

<h2>Your shopping cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var i in Model.basket.Items)
            {
                <tr>
                    <td>@i.Bookstore.Title</td>
                    <td>@i.Quantity</td>
                    <td>@i.Bookstore.Price</td>
                     @*print out subtotal for just the singular line item*@
                    <td>@(i.Quantity * (i.Bookstore.Price))</td>
                </tr>
            }
    </tbody>
    @*print out total for all line items*@
    <tfoot>
        <tr>
            <td colspan="3">Total: </td>
            <td>@Model.basket.CalculateTotal().ToString("c")</td>
        </tr>
        
    </tfoot>
</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl"> Continue Perusing </a>
</div>
